<%include partials/header%>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-12 mb-2">
			<h1 class="pl-2">Class In Detail</h1>
		</div>
		<div class="col-lg-6">
			<ul class="list-group">
			  <li class="list-group-item"><strong>Name:</strong> <%=classitem.name%></li>
			  <li class="list-group-item"><strong>Institution:</strong> <%=classitem.institution%></li>
			  <li class="list-group-item"><strong>Date Completed:</strong> <%=classitem.date%></li>
			  <li class="list-group-item"><strong>Topics:</strong> <%=classitem.topic%></li>
			  <li class="list-group-item"><strong>Description:</strong> <%=classitem.description%></li>
			</ul>
		</div>
		<div class="col-lg-6">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<a class="btn btn-warning" href="/classes">Back to Classes</a>
		<a class="btn btn-info" href="/classes/<%=classitem._id%>/edit">Edit Class</a>
		</div>
	</div>
</div>

<%include partials/footer%>